<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102215574946-urdvmlr53gr0lrb117g6k65bsln4rv8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102215574946-urdvmlr53gr0lrb117g6k65bsln4rv8r</string>
	<key>API_KEY</key>
	<string>AIzaSyAgqzXEnHpEl10mg5HqS0J4vKylqy_jBb0</string>
	<key>GCM_SENDER_ID</key>
	<string>102215574946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newsshore.newsshore</string>
	<key>PROJECT_ID</key>
	<string>news-shore</string>
	<key>STORAGE_BUCKET</key>
	<string>news-shore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102215574946:ios:c5f87d213b268b05473efb</string>
</dict>
</plist>